@model IndexModel;

@{
    ViewData["Title"] = "Home Page";
    Layout = "_MyLayout";
    var products = Model.Products;
    var updModel = Model.UpdateProduct;
}
<h1 class="text-center">Your Shop</h1>
<div class="text-md-center">

    <table>
        <tr>
            <th>id</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Цена за штуку</th>
            <th>Количество</th>
            <th>Действия</th>
        </tr>
        @for(var i =0; i< products.Count; i++)
        {
            <tr>
                <td>@products[i].Id</td>
                <td>@products[i].Name</td>
                <td>@products[i].Description</td>
                <td>@products[i].Price</td>
                <td>@products[i].Count</td>
                <td>
                    <button onclick="onEdit(@i)">!</button>
                    <form action="@Url.Action("GetProduct")" method="Get">
                        <button type="submit" name="id" value="@products[i].Id">✎</button>
                    </form>
                    <button onclick="delete(@i)">⌫</button>
                   
                </td>
            </tr>
        }
    </table>
</div>


<div class ="align-content-around">
    <form action="@Url.Action("UpgradeProduct")" method="Post">
        <br>
        Название:<br>
        <input type='text' name="name" value="@updModel.Name."><br>
        Описание:<br>
        <input type='text' name="description" value = "@updModel.Description"><br>
        Цена:<br>
        <input type='text' name="price" value = "@updModel.Price"><br>
        Количество:<br>
        <input type='text' name="count" value="@updModel.Count"><br>
        <input type='hidden' name="id" value="@updModel.Id"><br>
        <input type="submit" value="Update">
    </form>
</div>



@section Footer
{
    Мой копирайтинг
}